<a href="https://colab.research.google.com/github/Alzrsn/profileme.github.io/blob/main/Pyton2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Apa itu operator?

Operator merupakan simbol-simbol yang digunakan untuk
melakukan operasi tertentu.

ada enam jenis operator dalam pemograman yang wajib
diketahui:

1. **Operator Aritmatika:**
Digunakan untuk operasi matematika dasar seperti penjumlahan (+), pengurangan (-), perkalian (), pembagian (/), sisa bagi (%), dan pemangkatan (*).

Contoh:

In [3]:
a = int(input("input nilai a: "))
b = int(input("input nilai b: "))

#Operator Penjumlahan
c = a + b
print("hasil %d + %d = %d" % (a, b, c))

#Operator Pengurangan
c = a - b
print ("hasil %d - %d = %d" % (a, b, c))

#Operator Perkalian
c = a * b
print ("hasil %d * %d = %d" % (a, b, c))

#Operator Pembagian
c = a / b
print ("hasil %d / %d = %d" % (a, b, c))

#Operator Sisa Bagi
c = a % b
print ("hasil %d %% %d = %d" % (a, b, c))

#Operator Perpangkatan
c = a ** b
print ("hasil %d ** %d = %d" % (a, b, c))

input nilai a: 10
input nilai b: 10
hasil 10 + 10 = 20
hasil 10 - 10 = 0
hasil 10 * 10 = 100
hasil 10 / 10 = 1
hasil 10 % 10 = 0
hasil 10 ** 10 = 10000000000

2. **Operator Penugasan:** Digunakan untuk menetapkan nilai ke variabel, seperti pengisian nilai (=), penjumlahan dengan nilai yang ada (+=), pengurangan (-=), dan lain-lain.

Contoh:

In [9]:
#input untuk mengisi nilai
a = int(input("masukkan nilai a: "))

#contoh operator penugasan untuk mengisi nilai
print("nilai a = %d"%a)

#coba kita jumlahkan nilai a dengan operator penugasan
a += 5

#setelah nilai a ditambah 5, coba kita lihat isinya
print("nilai setelah ditambah 5")
print("a = %d"%a)

masukkan nilai a: 5
nilai a = 5
nilai setelah ditambah 5
a = 10

In [15]:
#input untuk mengisi nilai
a = int(input("input nilai a: " ))

#tambah dengan 2
a +=2

#kurangi 3
a -=3

#kali 10
a *=10

#nagi dengan 4
a /=4

#pangkat 10
a **=10

#berapakah hasil nilai a sekarang?
print("nilai a adalah %d"%a)

input nilai a: 8
nilai a adalah 2693893899917

3. **Operator Pembanding/Relasi:** Membandingkan dua nilai, misalnya lebih besar (>), lebih kecil (<), sama dengan (==), dan tidak sama dengan (!=).

Contohnya:

In [4]:
a = int(input("masukkan nilai a: "))
b = int(input("masukkan nilai b: "))

#apakah a sama dengan b?
c = a == b
print("apakah %d == %d: %r"%(a,b,c))

#apakah a lebih kecil b?
c = a < b
print("apakah %d < %d: %r"%(a,b,c))

#apakah a lebih besar b?
c = a > b
print("apakah %d > %d: %r"%(a,b,c))

#apakah a lebih kecil sama dengan b?
c = a <= b
print("apakah %d <= %d: %r"%(a,b,c))

#apakah a lebih besar sama dengan b?
c = a >= b
print("apakah %d >= %d: %r"%(a,b,c))

#apakah a tidak sama dengan b?
c = a != b
print("apakah %d != %d: %r"%(a,b,c))

#apakah saya sama dengan dia?
print("apakah saya == dia: false")

masukkan nilai a: 9
masukkan nilai b: 5
apakah 9 == 5: False
apakah 9 < 5: False
apakah 9 > 5: True
apakah 9 <= 5: False
apakah 9 >= 5: True
apakah 9 != 5: True
apakah saya == dia: false

**Operator Logika:** Membuat operasi logika seperti and, or, dan not.


**Contoh:**

In [8]:
a = True
b = False

#logika AND
c = a and b
print("%r and %r = %r"%(a,b,c))

#logika OR
c = a or b
print("%r or %r = %r"%(a,b,c))

#logika NOT
c = not a
print("%r not %r = %r"%(a,b,c))

True and False = False
True or False = True
True not False = False

**5. Operator Bitwise:** Bekerja dengan bilangan biner menggunakan operator seperti & (AND), | (OR), ^ (XOR), dan ~ (NOT), serta operasi shift bit (<<, >>).

Misalnya, kita punya variable a = 60 dan b = 13.

Bila dibuat dalam bentuk biner, akan menjadi seperti ini:

In [ ]:
a = 00111100
b = 00001101

Kemudian, dilakukan operasi bitwise

Operasi AND

In [ ]:
a = 00111100
b = 00001101
a & b = 00001100

Operasi OR

In [ ]:
a = 00111100
b = 00001101
a | b = 00111101

Operasi XOR

In [ ]:
a = 00111100
b = 00001101
a ^ b = 00110001

Operasi NOT (Negasi/kebalikan)

In [ ]:
a = 00111100
-a = 1100011

Contoh dalam Programnya:

In [2]:
a = int(input("masukkan nilai a: "))
b = int(input("masukkan nilai b: "))

#operasi AND
c = a % b
print("a & b = %s"%c)

#operasi OR
c = a | b
print("a | b = %s"%c)

#operasi XOR
c = a ^ b
print("a ^ b = %s"%c)

#operasi NOT
c = -a
print("-a = %s"%c)

#operasi shift left(tukar posisi biner)
c = a << b
print("a << b = %s"%c)

#operasi shift right(tukar posisi biner)
c = a >> b
print("a >> b = %s"%c)

masukkan nilai a: 4
masukkan nilai b: 5
a & b = 4
a | b = 5
a ^ b = 1
-a = -4
a << b = 128
a >> b = 0

6. Operator Ternary: Digunakan untuk ekspresi kondisi dalam satu baris, seperti nilai_true if kondisi else nilai_false.

Contohnya:

In [4]:
umur = input("berapa umur kamu? ")
aku = "bocah" if int(umur) < 10 else "dewasa"
print(aku)

berapa umur kamu? 19
dewasa

Contoh ke 2:

In [10]:
jomblo = True
status = ("menikah", "single")[jomblo]
print(status)

single

In [9]:
jomblo = False
status = ("menikah", "single")[jomblo]
print(status)

menikah